table {
	margin: 50px auto;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-radius: 10px;
	border-spacing: 0;
	text-align: center;
	
}

caption {
	margin-bottom: 5px;
}

th {
	color: white;
	text-shadow: 0 1px 1px #2D2020;
	padding: 10px 20px;
	background: #ed8032;
}

td {
	padding: 10px 20px;
	background: #F8E391;
}

th, td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
}

th:first-child, td:first-child {
	text-align: left;
}

th:first-child {
	border-top-left-radius: 10px;
}

th:last-child {
	border-top-right-radius: 10px;
	border-right: none;
}

table tr:last-child td:first-child {
	border-radius: 0 0 0 10px;
}

table tr:last-child td:last-child {
	border-radius: 0 0 10px 0;
}

tr td:last-child {
	border-right: none;
}

/* ----------------------------- for input -------------------------------------------- */

table tfoot td {
	border-top: 5px solid #fff;
	padding: 5px;
	background-color: rgb(129, 230, 116);
}

table tfoot input {
	border-radius: 5px;
	border: 1px solid #000;
}

tfoot td:last-child {
	margin-top: 5px;
	margin-left: 13px;
	position: absolute;
} 

.btn {
	display: block;
	padding: 5px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.btn:active {
	transform: translateY(1px);
	filter: saturate(150%);
	outline: none;
}
.btn:hover {
	color: #ffffff;
	border-color: currentColor;
	background-color: rgb(187, 84, 0);
}
.btn:focus {
	outline: none;
	box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
		0 0 0 1.5px rgba(255, 105, 180, 0.5);
}
.btn:focus:not(.focus-visible) {
	box-shadow: none;
}

.remove-row {
	position: absolute;
    border-radius: 20px !important;
	margin-left: 10px;
	background-color: #fd4f4c;
	cursor: pointer;
}

.edit-row {
	position: absolute;
    border-radius: 20px !important;
	margin-left: 75px;
	background-color: #cecb0b;
	cursor: pointer;
}

/* ----------------------------------------------------------- */

.wrapper {
	display: flex;
	flex-direction: column;
	margin: 50px auto;
}

.sortable {
	cursor: pointer;
}

.sorted[data-order = "1"]::after {
	content: ' ▲';
}

.sorted[data-order = "-1"]::after {
	content: ' ▼';
}